.btn{
    background-color: #3e2093;
    color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    
    
}
.btn:hover{
    background-color: #1f2937;
    color: rgb(255, 246, 246);
}
.btn:focus{
    background-color: slategray;
    cursor:no-drop;
    color: #1f2937;
}